body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}
.container {
  margin-top: 50px;
}
.main {
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}
.gray-bg {
  background-color: olive;
}
.main h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.title {
  font-family: Arial, sans-serif;
  font-weight: bold;
}
input {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid black;
  transition: border-bottom-color 0.3s;
}
input:focus {
  outline: none;
  border-bottom-color: #aa3d88;
}
input::placeholder {
  font-size: 14px;
}
input[type="submit"] {
  width: 100%;
  background-color: #764776;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 16px 0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #aa3d88;
}
h2 {
  font-family: "Angsana New", sans-serif;
}
h1 {
  font-family: "Angsana New", sans-serif;
  font-weight: bold;
  color: white;
}
